.settings-layout {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: var(--spacing-4);

  margin: var(--spacing-24) var(--spacing-4);
}

.settings-content {
  grid-column-start: 4;
  grid-column-end: 13;
  border-radius: var(--rounded-xl);
  padding: var(--spacing-3) var(--spacing-2);
}
