body {
  margin:0;
}
.studyMaterial-layout {
  display: grid;
  grid-template-columns: 3fr 9fr;
  gap: var(--spacing-5);
  padding: var(--spacing-5);
   margin-top: var(--spacing-20);
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  padding: 16px 40px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.Nav-panel {
  grid-column: 1 / 2;
}

.widget-panel {
  grid-column: 3 / 4;
}

.studyMaterial-feed {
  grid-column: 2 / 3; 
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 30px;
}

.feed-title {
  grid-column: 1 / -1; /* span full width of the feed grid */
  font-size: 1.5rem;
  font-weight: bold;
  color: #222;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .studyMaterial-feed {
    grid-template-columns: repeat(2, 1fr); /* 2 per row on medium screens */
  }
}

@media (max-width: 768px) {
  .studyMaterial-feed {
    grid-template-columns: 1fr; /* 1 per row on small screens */
  }
}