.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-4) var(--spacing-8);
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-primary-white);
}

.links__container {
  display: flex;
  gap: var(--spacing-6);
  font-weight: 400;
}

.profile__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-6);
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--rounded-full);
  background-color: var(--color-brand-600);
  padding: var(--spacing-3);
  color: white;
  font-size: var(--text-sm);
  aspect-ratio: 1/1;
  overflow: hidden;
}

.profile:hover {
  background-color: var(--color-brand-800);
}

.profile-image {
  width: 50px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: var(--rounded-full);
}

.bell__container {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-wrapper {
  position: relative;
  display: inline-block;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  color: gray;
}
.search {
  background-color: var(--color-secondary-white);
  padding: var(--spacing-2) var(--spacing-4);
  padding-left: var(--spacing-10);
  border-radius: var(--rounded-full);
  width: 300px;
}
