@import url("notification.css");
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-4) var(--spacing-8);
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--color-primary-white);
<<<<<<< HEAD
  z-index: 100;
=======
>>>>>>> main
}

.links__container {
  display: flex;
  gap: var(--spacing-6);
  font-weight: 400;
}

<<<<<<< HEAD
.navigation__container {
=======
.profile__container {
>>>>>>> main
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-6);
<<<<<<< HEAD
  position: relative;
=======
>>>>>>> main
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;

  border-radius: var(--rounded-full);
  background-color: var(--color-brand-600);
  padding: var(--spacing-3);
  color: white;
  font-size: var(--text-sm);
  aspect-ratio: 1/1;
  overflow: hidden;
}

.profile:hover {
  background-color: var(--color-brand-800);
}

.profile__container {
  position: relative;
  width: fit-content;
  cursor: pointer;
  user-select: none;
}

.profile-image {
  width: 50px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: var(--rounded-full);
}

<<<<<<< HEAD
.profile__content {
  position: absolute;
  background-color: var(--color-primary-white);
  margin: 0 var(--spacing-10);
  margin-top: var(--spacing-3);
  padding: var(--spacing-1) var(--spacing-3);
  width: 300px;
  right: -100%;
  border-radius: var(--rounded-xl);
  box-shadow: var(--shadow-md);
}

=======
>>>>>>> main
.bell__container {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.search-wrapper {
  position: relative;
  display: inline-block;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  color: gray;
}
.search {
  background-color: var(--color-secondary-white);
  padding: var(--spacing-2) var(--spacing-4);
  padding-left: var(--spacing-10);
  border-radius: var(--rounded-full);
  width: 300px;
}
<<<<<<< HEAD

.chevron-down {
  position: absolute;
  bottom: -8px;
  right: 0;
  width: 28px;
  height: 28px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: var(--color-brand-800);
  color: var(--color-primary-white);
  z-index: 2;
}

.user__profile {
  display: flex;
  gap: var(--spacing-3);
  align-items: center;
  padding: var(--spacing-2) var(--spacing-4);
  border-radius: var(--rounded-xl);
  font-weight: 500;
}

.user__profile:hover {
  background-color: var(--color-brand-100);
}

.user__logout {
  margin-top: var(--spacing-2);
  color: var(--color-primary-red);
  display: flex;
  gap: var(--spacing-3);
  padding: var(--spacing-4) var(--spacing-4);
  border-radius: var(--rounded-xl);
  font-weight: 500;
  border-top: 2px black;
}

.user__logout:hover {
  background-color: var(--color-primary-red);
  color: var(--color-primary-white);
}
=======
>>>>>>> main
