.nav-panel {
  height: fit-content;
  position: sticky;
  top: var(--spacing-24);
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: var(--color-primary-white);

  border-radius: var(--rounded-xl);
  /* margin: var(--spacing-6) var(--spacing-2); */
  padding: var(--spacing-3) var(--spacing-2);
}

.nav-panel__link__container {
  padding: var(--spacing-2) var(--spacing-4);
  margin: var(--spacing-1) 0;
  font-weight: 500;
  font-size: var(--text-sm);

  box-shadow: var(--shadow-sm);
}

.nav-panel__link__container:hover {
  background-color: var(--color-brand-100);
  border-radius: var(--rounded-md);
}

.nav-panel__link {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
  padding: var(--spacing-1) var(--spacing-3);
}
