.post {
  background-color: var(--color-primary-white);
  border-radius: var(--rounded-2xl);
  overflow: hidden;
  padding: var(--spacing-4) var(--spacing-4) var(--spacing-3) var(--spacing-4);
}

.post-header {
  display: flex;
  justify-content: space-between;
}
.post-author {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
}

.post-author div p {
  font-weight: 500;
  font-size: var(--text-lg);
}

.post-author div span {
  font-size: var(--text-sm);
  color: var(--color-secondary-gray);
}

.post-more-options {
  cursor: pointer;
  color: var(--color-secondary-gray);
  position: relative;
}

.post-more-options-menu {
  position: absolute;
  width: 150px;
  top: var(--spacing-6);
  right: 0;
  padding: var(--spacing-2) var(--spacing-2);
  background-color: var(--color-primary-white);
  border-radius: var(--rounded-lg);
  box-shadow: var(--shadow-2xl);
  border: 1px solid var(--color-primary-gray);
  z-index: 10;

  /* animation properties */
  opacity: 0;
  transform: translateY(-8px);
  pointer-events: none;
  transition: opacity 0.25s ease, transform 0.25s ease;
}

/* visible state */
.post-more-options-menu.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.post-more-options-menu div {
  padding: var(--spacing-2) var(--spacing-4);
  cursor: pointer;
  border-radius: var(--rounded-lg);
  user-select: none;
  border-bottom: 1px solid var(--color-primary-gray);
}
.post-more-options-menu div:hover {
  background-color: var(--color-brand-100);
}

.post-caption {
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-2);
}

.post-interactions {
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-2) var(--spacing-0);
}

.post-interactions div {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
  cursor: pointer;
  color: var(--color-secondary-gray);
}

.post-actions {
  border-top: 1px solid var(--color-primary-gray);
  margin-top: var(--spacing-2);
  padding-top: var(--spacing-2);
  display: flex;
  justify-content: space-around;
}

.post-actions div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: var(--spacing-2);
  cursor: pointer;
  color: var(--color-secondary-gray);
  font-weight: 500;
  border-radius: var(--rounded-lg);
  padding: var(--spacing-2) var(--spacing-4);
}

.post-actions div:hover {
  background-color: var(--color-brand-100);
}
