.user-card {
  background-color: var(--color-primary-white);
  border: 1px solid var(--color-primary-gray);
  border-radius: var(--rounded-lg);
  box-shadow: var(--shadow-sm);
  padding: var(--spacing-2);
  overflow: hidden;
}

.user-card-avatar {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

.user-card-avatar img {
  border-radius: var(--rounded-full);
  aspect-ratio: 1/1;
  object-fit: cover;
}

.default-avatar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary-white);
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: var(--color-brand-600);
  font-size: var(--text-2xl);
}

.user-card-info h3 {
  font-weight: 500;
  font-size: var(--text-xl);
  margin-top: var(--spacing-2);
}

.user-card-info p {
  color: var(--color-secondary-gray);
  font-size: var(--text-sm);
}

.send-friend-request {
  background-color: var(--color-brand-600);
  color: var(--color-primary-white);
  border: none;
  border-radius: var(--rounded-md);
  padding: var(--spacing-1) var(--spacing-2);
  cursor: pointer;
  margin-top: var(--spacing-2);
  width: 100%;
  text-align: center;
}

.send-friend-request:hover {
  background-color: var(--color-brand-800);
}

.pending-friend-request {
  background-color: var(--color-brand-600);
  color: var(--color-primary-white);
  border: none;
  border-radius: var(--rounded-md);
  padding: var(--spacing-1) var(--spacing-2);
  cursor: pointer;
  margin-top: var(--spacing-2);
  width: 100%;
  text-align: center;
}

.pending-friend-request:hover {
  background-color: var(--color-brand-800);
}

.view-profile {
  background-color: var(--color-primary-gray);
  border: none;
  border-radius: var(--rounded-md);
  padding: var(--spacing-1) var(--spacing-2);
  cursor: pointer;
  margin-top: var(--spacing-2);
  width: 100%;
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  font-size: var(--text-sm);
  font-weight: 600;
}

.accept-friend-request-actions {
  margin-top: var(--spacing-2);
  display: flex;
  gap: var(--spacing-3);
}

.accept-button {
  background-color: var(--color-brand-600);
  color: var(--color-primary-white);
  border: none;
  border-radius: var(--rounded-md);
  padding: var(--spacing-1) var(--spacing-2);
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.accept-button:hover {
  background-color: var(--color-brand-800);
}

.decline-button {
  background-color: var(--color-brand-100);
  border: none;
  border-radius: var(--rounded-md);
  padding: var(--spacing-1) var(--spacing-2);
  cursor: pointer;
  width: 100%;
  text-align: center;
}

.decline-button:hover {
  background-color: var(--color-brand-300);
}

.friend-button {
  background-color: var(--color-brand-600);
  color: var(--color-primary-white);
  border: none;
  border-radius: var(--rounded-md);
  padding: var(--spacing-1) var(--spacing-2);
  margin-top: var(--spacing-2);
  width: 100%;
  text-align: center;
}
