name: Deploy to DigitalOcean

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Sync to DigitalOcean
        uses: easingthemes/ssh-deploy@v2.1.5
        with:
          ssh-private-key: ${{ secrets.DROPLET_SSH_KEY }}
          remote-user: root
          server-ip: uniconnect.ddns.net
          remote-path: /var/www/uniconnect
          local-path: .
