name: Deploy to DigitalOcean

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Sync public folder to DigitalOcean
        uses: easingthemes/ssh-deploy@v2.1.5
        with:
          SSH_PRIVATE_KEY: ${{ secrets.DROPLET_SSH_KEY }}
          REMOTE_HOST: uniconnect.ddns.net
          REMOTE_USER: root
          SOURCE: public
          TARGET: /var/www/uniconnect
